    <h1>Welcome {{loggedUser.fullName}}</h1>
s    <p>Your role is {{ loggedUser.role}}</p>
    <img src="{{randomImg.image}}" width="100px" height="100px" />
    <p>A random cat fact is {{catFact}}</p>
    <script src="javascripts/script.js"></script>
