<form action="/profile/{{_id}}/edit" method="post">
    <label for="">Username:</label>
    <input type="text" name="username" value="{{username}}">
    <br/>
    <label for="">Email:</label>
    <input type="email" name="email" value="{{email}}">
     <br/>
    <label for="">Password:</label>
    <input type="password" name="password" value="{{password}}">
     <br/>
    <button type="submit">Edit New User</button>
</form>